#root {
  background-color: #f8f8f8;
}

.mobile-responsive {
  width: 320px;
  margin: 0 auto;
}
.movie-app-header {
  background-color: black;
  padding: 50px 0;
}

.movie-app-header .container {
  text-align: center;
}

.movie-card-heading {
  font-size: 24px;
  color: green;
  padding-top: 20px;
  text-align: center;
}

.is-loading {
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}

.is-error {
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  color: red;
}

@media (min-width: 768px) {
  .mobile-responsive {
    width: auto;
    margin-right: -15px;
    margin-left: -15px;
  }
}
